<div class="cpu-profile">
    <div class="container-fluid">
        <div class="row">
            <div class="actions-bar pull-right">
                <a href="" id="make-cpu-profile" class="btn btn-primary">Generate CPU profile</a>
            </div>
            <div class="actions-bar pull-right duration">
                <select id="duration-options" class="form-control">
                    <option value="1000">1 second</option>
                    <option value="30000">30 seconds</option>
                    <option value="60000" selected="selected">1 minute</option>
                    <option value="300000">5 minutes</option>
                    <option value="600000">10 minutes</option>
                    <option value="900000">15 minutes</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="items-table table table-bordered table-condensed table-hover">
                    {{#if data.items}}
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Duration</th>
                        <th>Time ago</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Link</th>
                    </tr>
                    </thead>
                    {{else}}
                    <p class="pull-right">Click a button to generate CPU profile.</p>
                    {{/if}}

                    <tbody>
                    {{#each data.items}}
                    <tr>
                        <td class="col-md-2">{{name}}</td>
                        <td class="col-md-2">{{duration}}</td>
                        <td class="col-md-2">{{timeago}}</td>
                        <td class="col-md-1 text-center status {{style}}" data-status="{{status}}">{{status}}</td>
                        <td class="col-md-1">
                            <a href="{{downloadUri}}"
                               class="btn btn-success btn-xs active center-block {{#unless downloadable}}disabled{{/unless}}"
                               role="button">Download
                            </a>
                        </td>
                    </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
