<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  
  debug: ${debug}
  locale: ${locale}
  staticBaseUrl: ${staticBaseUrl}

  <!-- the staticsUrl -->
  staticsUrl: $topology.resolve("publicStaticBaseUri", "") + "/" )
  
  <!-- Need to get if from the request 'aspects' -->
  <!-- https://github.com/wix-platform/wix-framework/blob/71483071fcbb5fb14a0cbb3ac22db7d87bc0eb8f/wix-framework/src/main/java/com/wixpress/framework/exceptions/WixMappingExceptionResolver.java#L488 -->
  baseDomain: ${baseDomain}

  <!-- HttpStatus or Custom internal error string -->
  <!-- https://github.com/wix-private/wix-public-static/blob/28c064d84fcc40c9949319be91096d63cc6de9dd/app/scripts/error-pages/controllers/error-page.ctrl.js -->
  errorPageCode: ${errorPageCode}

  <!-- {} (empty json) or relevant data -only- for the custom errors -->
  <!-- https://github.com/wix-platform/wix-framework/blob/71483071fcbb5fb14a0cbb3ac22db7d87bc0eb8f/wix-framework/src/main/java/com/wixpress/framework/exceptions/WixMappingExceptionResolver.java#L491-L498 -->
  data: ${data}

  <!-- Talk with Vilius -->
  <!-- https://github.com/wix-platform/wix-framework/blob/71483071fcbb5fb14a0cbb3ac22db7d87bc0eb8f/wix-framework/src/main/java/com/wixpress/framework/exceptions/WixMappingExceptionResolver.java#L482 -->
  serverErrorCode: ${serverErrorCode}
  
  <!-- Talk with Tomer Cohen -->
  addBotDetectionSnippet: ${addBotDetectionSnippet}
  
  <!-- Deprecated -->
  exceptionName:
</body>
</html>